@model IEnumerable<Actor>

@{
    ViewData["Title"] = "List Of Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <h2 class="mb-4 text-center">List of Actors</h2>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle text-center">@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th class="align-middle text-center">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th class="align-middle text-center">@Html.DisplayNameFor(model => model.Bio)</th>
                    <th class="align-middle text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-center">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 100px;" />
                        </td>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(model => item.FullName)
                        </td>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(model => item.Bio)
                        </td>
                        <td class="align-middle text-center">
                            <a class="btn btn-outline-primary me-1" asp-action="Edit">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a class="btn btn-outline-info me-1" asp-action="Details">
                                <i class="bi bi-eye"></i> Detail
                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
